bertviz==1.4.0
sentence-transformers==5.5.1
transformers==5.11.0
torch==2.12.0
pandas==2.0.3
datasets==5.0.0
evaluate==0.4.6
streamlit==1.58.0
huggingface-hub==1.19.0
smolagents==1.14.0
gradio_client==1.8.0
